*{
  direction: rtl;
 
}
body{
  background: #1E1E1E;

}

.btnIcones {
  transition: all 0.3s !important;
}
.btnIcones:hover {
  padding: 10px;
  background-color: #6b6868 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.815);
}
.todoCard{
  transition: all 0.3s !important;
}
.todoCard:hover{
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.815);
}

@font-face {
  font-family: kanata;
  src: url(/public/fonts/Mada-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: kanata;
  src: url(/public/fonts/Mada-ExtraLight.ttf);
  font-weight:200;
}
@font-face {
  font-family: kanata;
  src: url(/public/fonts/Mada-ExtraLight.ttf);
  font-weight:200;
}
@font-face {
  font-family: kanata;
  src: url(/public/fonts/Mada-Light.ttf);
  font-weight:300;
}
@font-face {
  font-family: kanata;
  src: url(/public/fonts/Mada-Medium.ttf);
  font-weight:300;
}
